

.post-list{
    width: 100%;
    background-color: #f5f5f5;
}
.post-list .content{
    padding: 5rem 0;
    width: 60rem;
    margin: 0 auto;
    overflow: hidden;
}
.post-list .item {
    width: 28rem;
    height: 42rem;
    float: left;
    background-color: #f5f5f5;
    margin-bottom: 3rem;
    margin-left: 0.5rem 
}
.post-list .item:hover{
    box-shadow: #888 0.2rem 0.2rem 1rem;
}
.post-list .item:nth-child(even) {
    float: right;
    margin-left: 0rem;
    margin-right: 0.5rem 
}
.post-list .blogs{
    margin: 1rem;
    height: 39.6rem;
    border: 0.2rem solid #888;
}
.blogs .tag{
    display: inline-block;
    width: 6rem;
    height: 2rem;
    line-height: 2rem;
    background: #f5f5f5;
    position: relative;
    left: 4rem;
    top: -1rem;
    text-align: center;
    font-size: 1rem
}
.post-list img {
    width: 100%;
    height: 280px;
    margin: 2rem 0;
}
.text-area {
    padding: 2rem;
    color: #585858;
    margin-top: -2rem;
}
.text-area .time {
    font-size: 14px;
}
.text-area h2 {
    font-size: 1.2rem;
    height: 3.6rem;
    line-height: 1.8rem;
    overflow: hidden;
    color: #000;
}
.text-area p {
    font-size: 1rem;
    line-height: 2rem;
    color: #000;
}
.bg1{
    width: 55rem;
    height: 10rem;
    background: url(http://img.890vip.cn/blog/common/bg1.png) no-repeat;
    position: absolute;
    bottom: 0;
    left: -4rem;
}
.bg2{
    display: block;
    height: 10rem;
    width: 18rem;
    background: url(http://img.890vip.cn/blog/common/bg2.png) no-repeat;
    z-index: 999;
    background-size: 100% 100%;
    right: 15rem;
    position: absolute;
    bottom: 2rem;
}
#menu-blog{
    background: url(http://img.890vip.cn/blog/common/common.png) no-repeat;
    background-position: 0px 0px;
    height: 63px;
    display: inline-block;
    width: 120px;
}
#menu-my{
    background: url(http://img.890vip.cn/blog/common/common.png) no-repeat;
    background-position: -120px 0px;
    height: 63px;
    display: inline-block;
    width: 95px;
}
