.header{
    width: 100%;
    height: calc(100% / 4);
    background-color: #00a65a;
}
.clear{
    clear: both;
}
.container{
    width: 120rem;
    margin: 1.5rem auto;
    background-color: #0a001f;
}
.container .item{
    width: 30rem;
    height: 40rem;
    float: left;
}
.container .item:nth-child(odd){
    margin-left: 3rem;
}
.container .item .blog,.container .item .blog .image,.container .item .blog .image img{
    width: 100%;
}