html
{
    color:#000;
    background:#FFF;
}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td
{
    margin:0;padding:0;font-size: 62.5%;
}
table
{
    border-collapse:collapse;
    border-spacing:0;
}
fieldset, img
{
    display: block;
    width: 100%;
    border: 0;
}
em, strong
{
    font-style:normal;
    font-weight:normal;
}
li
{
    list-style:none;
}
h1, h2, h3, h4, h5, h6
{
    font-size:100%;
    font-weight:normal;
}
body, input, button, textarea
{
    font-size:1.4rem;
    font-family:Arial, Helvetica, sans-serif;
}
body,html,#app,.my-model{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
a{ text-decoration:none;outline:none;}
a:hover{ cursor:pointer;}
th, td{vertical-align:top;}

.col-1140, .col-970, .col-912, .col-800, .col-684 {
    width: 1140px;
    margin: 0 auto;
    position: relative;
}
header {
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    z-index: 9;
}
#nav{
    height: 100px;
}
#nav .logo {
    width: 54px;
    height: 54px;
    line-height: 54px;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -27px;
    font-size: 24px;
    color: #FFFF00;
}
#nav .nav-item {
    height: 26px;
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -13px;
}
#nav .nav-item li {
    width: auto;
    height: 26px;
    line-height: 26px;
    position: relative;
    display: inline-block;
    margin-left: 44px;
    font-size: 0;
}
#nav .nav-item li a {
    display: block;
    font-size: 16px;
    color: #fff;
    opacity: 0.8;
}
#nav .nav-item li a:hover{
    color: #FFFF00;
}
#nav .nav-item li span {
    width: 0;
    height: 1px;
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    background: #fff;
}


footer {
    width: 100%;
    height: 180px;
    background: #191919;
}
.fbar {
    position: relative;
    padding: 15px 0 15px;
}
.fbar .fcnt {
    width: 270px;
    margin: 0 auto;
    text-align: center;
}
.fbar .fcnt .fbar-logo {
    width: 75px;
    height: 72px;
    margin: 0 auto;
}
.finfo.text1 {
    padding: 12px 0 6px;
}
.finfo {
    padding: 12px 0 18px;
    font-size: 12px;
    color: #a3a3a3;
    text-align: center;
}
p {
    word-break: break-all;
}
.fbar .fcnt .fcnt-social {
    text-align: center;
}
.fbar .fcnt .fcnt-social a#weibo {
    margin-right: 22px;
    background-position: 0 0;
}
.fbar .fcnt .fcnt-social a#wechat {
    background-position: -24px 0;
}

.fbar .fcnt .fcnt-social a {
    display: inline-block;
    width: 24px;
    height: 22px;
    background: url(../images/social_icon.png);
}
.ficp {
    border-top: 1px solid #2b2b2b;
}
.ficp .finfo {
    height: 50px;
    line-height: 50px;
    padding: 0;
}
.finfo {
    padding: 12px 0 18px;
    font-size: 12px;
    color: #a3a3a3;
    text-align: center;
}
.wechat-qrcode {
    position: absolute;
    width: 200px;
    height: 200px;
    top: -200px;
    left: 50%;
    margin-left: -100px;
    z-index: 9;
    display: none;
}
a#wechat:hover + .wechat-qrcode {
    display: block;
}

/**************滚动条组成***************/
::-webkit-scrollbar
{
    width: 10px;
    height: 10px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
    border-radius: 0px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
    border-radius: 4px;
    -webkit-box-shadow: inset 0 0 4px rgba(0,0,0,.2);
    background-color: #888;
}
/***************滚动条组成**************/


/*****************登录框********************/

.mask{
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    background-color: #888;
    opacity:0.3;
    filter: alpha(opacity=30);
    z-index: 10;
}
.modal{
    position: absolute;
    width: 35%;
    height: 350px;
    top: 150px;
    left: 30%;
    background-color: #fff;
    z-index: 12;
    border-radius: 3px;
}
.logo{
    height: 100px;
    line-height: 100px;
    margin: 15px auto;
    text-align: center;
}
.logo img{
    height: 100%;
}
.input-group{
    display: block;
    width: 75%;
    margin: 15px auto;
    height: 60px;
    line-height: 60px;
    text-align: center;
}
.input-group label{
    display: inline-block;
    width: 20%;
    height: 40px;
    line-height: 40px;
    float: left;
    text-align: left;
    vertical-align:bottom;
}
.input-group input{
    display: inline-block;
    width: 75%;
    height: 40px;
    line-height: 40px;
    float: right;
    font-size: 24px;
    text-indent: 12px;
}
.input-group button{
    width: 160px;
    height: 40px;
    line-height: 40px;
    background-color: #FFFF66;
    border: 0;
    font-size: 24px;
    color: #fff;
    border-radius: 3px;
    margin: 0 auto;
}
button:hover{
    background-color: #FFFF00;
}
/*****************登录框********************/
