html,body{
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	font-size: 62.5%;
}
h1{
	font-size:4rem;
}
p{
	font-size: 2rem
}
ul{
	list-style-type:none;
}
li{
	height: 2rem;
	line-height: 2rem;
	font-size: 1.5rem;
	border-bottom: 0.1rem solid #27AE60
}
.clear{
	clear: both;
}
.active{
	background-color: #27AE60;
	color: #fff
}
/****************首页****************/
header{
	text-align: center;
    position: relative;
    background-color: #27AE60;
    color: #fff;
    margin-bottom: 0;
    padding:4rem 0;
}
footer{
	height:10rem;
	font-size: 1.6rem;
	text-align: center;
}
section{
	max-width: 80%;
	margin: 1.5rem auto; 
}
section p,section span{
	cursor: pointer;
} 
.container {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
}
.item{
	float: left;
	border-left: 0.1rem solid #27AE60;
	min-width: 4rem;
	text-align: center;
	padding: 0 0.8rem;
	height: 2.4rem;
    line-height: 2.4rem;
}
.item:first-child{
	border-left:0;
}
.item-title{
	font-size: 1.6rem;
}
.sub-item{
	text-indent: 1.5rem;
	background-color: #e8e8e8;
	border-radius: 0.5rem;
	display: block;
    margin: 0.8rem auto;
    padding: 0.8rem 0;
}

.sub-item-title{
	font-size: 1.5rem;
	display: block;
    margin-bottom: 0.8rem;
}
/****************首页****************/

/****************详情页面*****************/
.navigate{
	width:20%;
	max-width: 20rem;
	height: 100%;
	float: left; 
	background-color: #e8e8e8
}
.main{
	width: 80%;
	height: 100%;
	float: left; 
	background-color: #dddddd
}
/****************详情页面*****************/