body {
    font: 14px/1 arial, 'pingfangsc', 'microsoft yahei', sans-serif;
    color: #000;
    background: url(../images/bg.png);
}
#wrap {
    padding-top: 68px;
    overflow: hidden;
}
#main {
    position: relative;
    margin: 0 auto;
    box-shadow: 0 4px 8px 0 rgba(207, 201, 192, 0.8);
}

.wp {
    width: 900px;
    margin: 0 auto;
}
#toolbtn {
    z-index: 4;
    position: fixed;
    top: 150px;
    _position: absolute;
    margin-left: 900px;
}
.toolbtn-dir, .toolbtn-set, .toolbtn-help, .toolbtn-fullscreen, .toolbtn-bookshelf, .toolbtn-prev, .toolbtn-next {
    display: block;
    position: relative;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    background: #f6ede1\9;
    background: rgba(255, 255, 255, 0.4);
}
.book-header {
    z-index: 3;
    position: absolute;
    top: 0;
    background: #FDF9F3;
}
.book-header-wrap {
    position: relative;
    padding: 37px 0 32px;
}
.bookshelf-bigactive #bookshelf {
    left: -190px;
    width: 190px;
    height: 606px;
}

#bookshelf {
    position: absolute;
    top: 0;
    left: -190px;
    overflow: hidden;
}

.bookshelf-book {
    position: relative;
    float: right;
    height: 350px;
}
.bookshelf-book-close {
    width: 150px;
    height: 13px;
    padding: 20px 20px 18px;
    line-height: 13px;
    text-align: right;
    background: url(../images/bookshelf-book-bg.png) repeat-x;
}
.icon {
    background-image: url(../images/sprite.png);
}
.icon, .icon-tool-prev, .icon-tool-next {
    display: inline-block;
}
.icon-tool-dir, .theme-white .dir-active .icon-tool-dir {
    width: 18px;
    height: 13px;
    line-height: 13px;
    background-position: -128px -117px;
}
.icon-tool-set, .theme-white .set-active .icon-tool-set {
    width: 19px;
    height: 16px;
    line-height: 16px;
    background-position: -17px -117px;
}
.icon-tool-fullscreen {
    width: 18px;
    height: 16px;
    line-height: 16px;
    background-position: -54px -117px;
}
.icon-tool-help {
    width: 18px;
    height: 18px;
    line-height: 18px;
    background-position: -133px -93px;
}
.icon-tool-up {
    width: 17px;
    height: 10px;
    line-height: 10px;
    background-position: -31px -106px;
}
.toolbtn-prev {
    margin: 36px 0 1px;
}
.icon-tool-prev {
    width: 10px;
    height: 17px;
    line-height: 17px;
    background-position: -173px -88px;
}
.bookshelf-book-info {
    width: 110px;
    margin: 0 40px;
    text-align: center;
}
.bookshelf-book-title {
    margin-bottom: 13px;
    color: #333;
    font-size: 16px;
    line-height: 16px;
    text-align: left;
}
.bookshelf-book-cover, .bookshelf-book-qrcode {
    position: relative;
}
.bookshelf-book-info * {
    display: inline-block;
    width: 100%;
    overflow: hidden;
    vertical-align: top;
}
.bookshelf-book-scan {
    margin-top: 13px;
    color: #666;
    font-size: 12px;
    text-align: center;
}
.bookshelf-book-qrcode img {
    width: 80px;
    padding: 15px;
    background: #fcf6ee\9;
}
.book-view {
    z-index: 2;
    position: relative;
    overflow: hidden;
    margin-bottom: 15px;
}
.book-list {
    padding: 70px 0 0.5em;
    background: #FDF9F3;
    width: 100%;
    font-size: 18px;
}
.book .book-wrap {
    padding-top: 2em;
}
.book-wrap {
    width: 700px;
    margin: 0 100px;
}
.book-title {
    font-size: 1.7em;
    font-weight: normal;
    color: #A34544;
}
.book-content {
    padding-top: 2em;
    color: #222;
    line-height: 2em;
}