
.clear{
    clear: both;
}
.post-list{
    width: 100%;
    background-color: #f5f5f5;
}
.post-list ul {
    padding-top: 200px;
    padding-bottom: 200px;
    width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}
.post-list li {
    width: 380px;
    height: 340px;
    float: left;
    background-color: #fff;
    margin-bottom: 30px;
    margin-right: 30px;
}
.post-list li:hover{
    box-shadow: #888 0 0 10px;
}
.post-list li:nth-child(3n) {
    margin-right:0;
}
.post-list img {
    width: 380px;
    height: 200px;
}
.text-area {
    padding: 30px;
    color: #585858;
}
.text-area .time {
    font-size: 14px;
}
.text-area h2 {
    font-size: 24px;
    padding-top: 14px;
    padding-bottom: 14px;
}
.text-area p {
    font-size: 14px;
    line-height: 28px;
}
