<html>
<head>
	<title>简于形 精于心</title>
	 <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
	<link rel="stylesheet" type="text/css" href="css/common.css">
</head>
<body>
<div id="app">
	<header>
		<div class="container">
			<h1>{{ author }}</h1>
			<p>{{ message }}</p>
			<span class="time" v-text="timeStr"></span>
		</div>
	</header>
	<div class="clear"></div>
	<section>
		<div class="nav">
			<div v-for="(item,index) in items" class="item" :class="selected == index ? 'active' : ''">
				<span v-text="item.title" class="item-title" v-on:click="getBlogsByType(item.id,index)"></span>
			</div>
		</div>
		<div class="clear"></div>
		<div class="sub-item">
			<span v-for="blog in blogs" class="sub-item-title" v-text="blog.title" v-on:click="getDetail(selected,blog.id)"></span>
		</div>
	</section>
	<div class="clear"></div>
	<footer>
		{{copyright}} {{icp}}
	</footer>
</div>
<script src="js/vue/vue.min.js"></script>
<script src="js/vue/vue-resource.min.js"></script>
<script src="js/index.js"></script>
</body>
</html>
