<html>
<head>
	<title>简于形 精于心</title>
	<link rel="stylesheet" type="text/css" href="css/common.css">
</head>
<body>
<div id="app">
	<header>
		<div class="container">
			<h1>{{ author }}</h1>
			<p>{{ message }}</p>
		</div>
	</header>
	<section>
		<div v-for="(item,index) in items" class="item">
			<p v-text="item.title" calss="item-title" v-on:click=getSubItem(index)></p>
			<div class="sub-item">
				<p v-for="sub in item.subitem" calss="sub-item-title" v-text="sub.title"></p>
			</div>
		</div>
	</section>
    <footer>
    	{{copyright}}
    </footer>
</div>
<script src="//cdn.bootcss.com/vue/2.2.1/vue.js"></script>
<script type="text/javascript">
var app = new Vue({
  el: '#app',
  data: {
  	author: '890',
    message: '欢迎来到我的博客',
    copyright:"blogs.890vip.cn",
    items:[]
  },
  methods:{
  	getSubItem:function(index){
  		this.items[index]['subitem'] = [
  			{title:'sdsd'},
  			{title:'sdsd'},
  			{title:'sdsd'}
  		]
  	}
  },
  mounted:function(){
  	this.$http.get('data/items.json').then((response) => {
	    alert(1);
	}, (response) => {
	    // error callback
	});
  	this.items = [
    	{title:'PHP',id:1,subitem:[]},
    	{title:'MYSQL',id:2,subitem:[]},
    	{title:'LINUX',id:3,subitem:[]},
    	{title:'经典算法',id:4,subitem:[]},
    	{title:'PHP设计模式',id:5,subitem:[]}
    ]
  }
})
</script>
</body>
</html>