<html>
<head>
	<title>精于心 简于形</title>
	 <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
	<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="/css/common.css">
</head>
<body>
<div id="app">
	<div class="container-fluid header">
		<h1 v-text="detail.title"></h1>
		<p v-text="detail.author"></p>
	</div>
	<div class="clear"></div>
	<div class="container">
		<div class="detail-item" v-html="detail.content"></div>
		<div class="detail-item"><button v-on:click="commentSub()" v-text="comment_title"></button></div>
		<div class="detail-item" v-if="iscomment">
			<span style="display:block;margin:0.4rem 0"><input type="text" v-model="author_name" placeholder="name" style="width:15rem;height:2.4rem;text-indent: 0.4rem;"></span>
			<span style="display:block;margin:0.4rem 0"><textarea style="resize: none;width: 35rem;height: 5rem;border-color: #D0D0C9;padding: 0.4rem;" v-model="contents" placeholder="content"></textarea></span>
		</div>
		<div class="detail-item"><hr/></div>
		<div v-for="item in comment" class="detail-item comments">
			<span v-text="item.author"></span>:<span v-text="item.content"></span><span v-text="item.comment_time" class="comments-time"></span>
		</div>
	</div>
	<div class="clear"></div>
	<div class="footer">
    	{{copyright}} {{icp}}
    </div>
</div>
<script src="/js/vue/vue.min.js"></script>
<script src="/js/vue/vue-resource.min.js"></script>
<script src="/js/detail.js"></script>
</body>
</html>
