<html>
<head>
	<title>简于形 精于心</title>
	<link rel="stylesheet" type="text/css" href="/css/common.css">
</head>
<body>
<div id="app">
	<div class="navigate">
		<ul>
			<li v-for="nav in item" v-text="nav.title" :class=" selected == nav.id ? 'active': ''" v-on:click="getDetail(nav.id)"></li>
		</ul>
	</div>
	<div class="main">
		<div v-for="item in detail">
			<p v-if="item.type == 1" v-html="item.content"></p>
			<pre v-if="item.type == 2" v-text="item.content"></pre>
		</div>
	</div>
</div>
<script src="//cdn.bootcss.com/vue/2.2.1/vue.js"></script>
<script src="//cdn.bootcss.com/vue-resource/1.2.1/vue-resource.js"></script>
<script src="/js/mysql.js"></script>
</body>
</html>