<html>
<head>
	<title>简于形 精于心</title>
	<link rel="stylesheet" type="text/css" href="/css/common.css">
</head>
<body>
<div id="app">
	<div class="navigate">
		<ul>
			<li v-for="nav in item" v-text="nav.title" :class=" selected == nav.id ? 'active': ''" v-on:click="getDetail(nav.id)"></li>
		</ul>
	</div>
	<div class="main">
		<div v-for="item in detail" class="detail-item">
			<p v-if="item.type == 1" v-html="item.content"></p>
			<pre v-if="item.type == 2" v-text="item.content"></pre>
			<strong v-if="item.type == 3" v-text="item.content"></strong>
			<h2 v-if="item.type == 4" v-text="item.content"></h2>
		</div>
		<div class="detail-item"><button v-on:click="comment">评论</button></div>
		<div class="detail-item" v-if="iscomment">
			<span style="display:block;margin:0.4rem 0"><input type="text" style="width:15rem;height:2.4rem;text-indent: 0.4rem;"></span>
			<span style="display:block;margin:0.4rem 0"><textarea style="resize: none;width: 35rem;height: 5rem;border-color: #D0D0C9;padding: 0.4rem;">2423</textarea></span>
		</div>
		<div class="detail-item"><hr/></div>
		<div v-for="item in comment" class="detail-item comments">
			<span v-text="item.author"></span>:<span v-text="item.content"></span><span v-text="item.comment_time" class="comments-time"></span>
		</div>
	</div>
</div>
<script src="//cdn.bootcss.com/vue/2.2.1/vue.js"></script>
<script src="//cdn.bootcss.com/vue-resource/1.2.1/vue-resource.js"></script>
<script src="/js/php.js"></script>
</body>
</html>